<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
           <div class="logo-links">
             <a class="footer-logo media_link" href="/">
              <img src="/assets/uploads/wwtg-logo.png" alt="WWTG Logo">
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="http://www.wwtg-gmcv.org/">World Wine Trade Group Industry Website</a></li>         
          </ul>
        </div>
             </div>
    </div>
    <p><a href="https://www.trade.gov/foia">FOIA</a> | <a href="https://www.trade.gov/privacy-program">Privacy Program</a> | <a href="https://www.trade.gov/feature-article/accessibility-policy">Accessibility</a></p>
  </div>
</footer>
