<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
           <div class="logo-links">
            <center> <a class="footer-logo media_link" href="{{site.baseurl}}/">
              <img src="{{site.baseurl}}/assets/uploads/wwtg-logo.png" alt="WWTG Logo">
              </a></center>
          </div>
        </div>
        
             </div>
    </div>
    
    <p><center><a href="http://www.wwtg-gmcv.org/">World Wine Trade Group Industry Website</a> | <a href="{{site.baseurl}}/foia">FOIA</a> | <a href="{{site.baseurl}}/privacy">Privacy Program</a> | <a href="{{site.baseurl}}/accessibility">Accessibility</a></center></p>
    <p>&#160;</p>
  </div>
</footer>
