{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

    <section class="usa-section">
          <div class="grid-container">
      <ul class="usa-card-group">
    <li class="usa-card tablet:grid-col-6 usa-card--header-first">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">About WWTG and Participation</h2>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="assets/uploads/world-w-blurry-field.jpg"
            alt="person holdling globe with out of focus field in background"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>The WWTG currently has nine members and welcomes participation from non-member governments and industry representatives.</p>
      </div>
      <div class="usa-card__footer">
        <a class="usa-button" href="{{site.baseurl}}/participation/">Learn More About the WWTG</a>
      </div>
    </div>
  </li>
  <li class="usa-card tablet:grid-col-6 usa-card--header-first">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading">Current Agreements</h2>
      </div>
      <div class="usa-card__media usa-card__media--exdent">
        <div class="usa-card__img">
          <img
            src="assets/uploads/hero-wine-glasses.jpg"
            alt="wine glasses, lined up with different types of wine"
          />
        </div>
      </div>
      <div class="usa-card__body">
        <p>Agreements identify and address differing national rules on oenological practices, presentation and placement of information on labels, and other items.</p>
      </div>
      <div class="usa-card__footer">
        <a class="usa-button" href="{{site.baseurl}}/agreements">Discover Current Agreements</a>
      </div>
    </div>
  </li>
  
 
</ul>
        </div>
</section>
