{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Guided by principles that facilitate trade in wine and protect consumers</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Founded in 1998, the World Wine Trade Group (WWTG) has worked to facilitate international trade in wine, while ensuring regulators can appropriately protect consumers, through information sharing, discussion of regulatory issues in wine markets and joint actions for the removal of trade barriers. Our goal is to benefit both wine exporting and importing countries.</p>
      <p>The WWTG recognizes the unique characteristics of each country’s regulatory system and advances the mutual acceptance of winemaking practices and harmonization of labelling regulations, rather than the imposition of prescriptive regulatory approaches.</p>
    </div>
  </div>
</section>

