@import "1variables";
@import "add-background-svg";
@import "font-face";
@import "hero";
@import "icon";

.usa-prose>p {
    max-width: 100%!important;
}
.usa-prose>ul li {
    max-width: 100%!important;
}
.usa-prose>ol li {
    max-width: 100%!important;
}
